<ion-header [translucent]="true">
  <ion-toolbar color="indigo">
    <ion-title>
      Comidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>

          <img src="https://lh3.googleusercontent.com/Zvjf5-ls28jauCicd84mV2eR_kCaqIMqc-xW5yxWDG4zhXlMs2k64D_5XgMocJu1OCR5xNFxCpEPD64f-ilqxsVT3SxuuK4EaQyzUNi8LQvbCCs7CnZ11IsleF12B6zZf7mqcgmFaLNtqEdV2cVM-5Vtj7-iq4bcLIaefDscuxF9VYXZBda4LKWwWksXvixKrAVuKUQ5AgOGC2rWB821dp_d3__K5BMC_L0faeY_DnpkN7F6uXC58mRDXKCqNLw7HZHZOABI_Q_mHBPKHjFQ5yZIEM08v7VCiUPf0O0dk9IX6fUAZuG8AiNQmAt5hMDVcQIeB59jttd8_0aPbciUDRKNMb6qyarKRl7hEHXejiPAJ1B2S9nCAvu-GF2IPonv4OjqDfyB49M460SF0-DpBWPWj9De6rI4RdxYPDrq9W1apSe9naFpCZth4aX4RfIUhlgoxcr7a-unvrwdbZrDE8fMcS93WLZlzktcDm9BMzbzazqvh399JW3WLxuMDpDb2fYqt3GnYyAeBjaS-GxGaWNqbVUMexWBfcaubRBDO26AfhWrmcZrQ3GF9bYc5uPrQM20RjBjnz0a83MSPmHa_fcT2DalBXQIXiYkQjrXOFoKEjnmtdoqXXCmi2JEw6WIk65m1PqAyawNJhkyC7x0MZOMf0QGxafXw5NVXzstu5XfS4IQ7uDfHrDXl24glQOJq6guXCAhLxD_rc9Rk7fbBx7cTw=s657-no?authuser=0">

        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            Pão Com Mortadela
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding">
          <ion-badge color="indigo" > 1,2G</ion-badge>
          <ion-note  class="ion-no-padding" color="dark" slot="end">R$ 3,50</ion-note>
        </ion-item>

      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>

          <img src="https://lh3.googleusercontent.com/yqWfJkYWu1j-BmK2N5r3V3bt_BF60Zp0Lns7tYhFvN6QkE6zaszwPPV-Qznwvod9opPV8WpkmSjV2tlFs-qTkezK36QAUGL9g3akUynvYhZzwPMl6RAlBfzwMhUSTI7wHaVIMhADRV29MnQLSFD-02LG09N1VJdkDdDZ0cZi3l60BOBWLC5RvXzzCNQxwRYRr0ioe_CKvknzQJ0d096DfkABj06Mp8LtTVGur_pezDzlcLPwp5YWwCten0PddAZH1bqMIh8xKdBg1ZhaWpRHWeUmmUbQ1SLxSmQrakwgQEyGWJm7_wh4VHBBbI1ItMkfQ9cnJLdz_3AjF08aD-VWDAmfX3aES3oXFWNXlEMX8vLN1zdFk9_E1Q2s0muCZBa3N481QgXXdTPuSrQfL6WQV0lpNF2yfkIpvd63one7JFFlogJFT7p-4kx1ig-o5d6hkjLzQ6jToNuLeG6V7IU6-nn4KFGolJXEjN8s8ZXEqWm-jgkTsr1zdFQgExFEIphQWWNOQbTE6OwpgaCCOuAvlEx_H2SX0PtaFmD3O13hhoYnYb0r-bhqWQ-4xEds1O5sQM8q-Zl1DM29fJ1zxa7uPoVrKsF4PqQUv0w4pZILHZzvVziTH5UHHK6VJ4jvsmKzy7Z55pYqnGbGjLI1nowLVLrRHqT1Y_TJ7qj3XKDTVScTFNrx8oCARRgInP2vrLOwKRulmrm62Unlm1mjtP7RrxoDyQ=s657-no?authuser=0">


        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            Misto Quente
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding">
          <ion-badge color="indigo" > 1,3G</ion-badge>
          <ion-note  class="ion-no-padding" color="dark" slot="end">R$ 4,50</ion-note>
        </ion-item>

      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>

          <img src="https://lh3.googleusercontent.com/gRVL8Ivh2GLdYyDsjoqcGSzaWH-NaoUqSHvIVepFXBJTNdbHqEU2vvihmLhgZ712910sDHK3Q14_2LDT3DR2TcbtFT3ajYd1_76T4oojx8HamvSwtBiKAVivMh6s0FQ5Z1GVOIozaIYEv_c-1QnVNTcio7vZjtACVNL2xLC6Tyr_zQ8aIootbxh4lwLA76LqMAN9RRxvTNlEhIpvPPk48LhgZ_ln4Pi2roSNMTnH5qFgQ7kXYlVxTIl5A0Wir2C8pvaPYRU7wCgWBz2aA0Mkg3d9AwySlNmSlFr3WhCkRAXGeSFnnjARnqANVhZAdTSG7lU1rK5pdFXOUhAEXKf2ussWSm-yNPL5JYxb5VZhs4LRjMmIUoUaFeAIESg1136Tke8bwOUINHXS3MmL-PZyXcOoWOOYuMkiNqT3SuofzATZkt1yv6RifQJhfbhvJ8QjOHSuf9glaA5I2Ab0rg6RTIOxGeGHaA29bOmfFQacA3s8N5l0lVOErXNk3HFA2xRqgLF0EfoLSOVEiZWjg4PZo7QVmhySOez4PRAkhgRCYdbKNqjKp9GZYiugpMR9xdQ1O7Tk9mK43xYhagXkOjohp6vqos6dYwtccieaYrrmecRvie-oGrOoyFELg5uH3bHDTMLbc3cdfs1dLD1taKARNNf4cKWWv_ERCac-PU1zwihSqwnRraJtrpyKLRK8frmkqnG2z3gW61GKksxpNgnhUF5Lsg=s657-no?authuser=0">


        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            Esfirra De Frango
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding">
          <ion-badge color="indigo" > 2G</ion-badge>
          <ion-note  class="ion-no-padding" color="dark" slot="end">R$ 5,00</ion-note>
        </ion-item>

      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>

          <img src="https://lh3.googleusercontent.com/zYOKasaRq4oI6JvPK4rgDXff-kXHKvorK-boLydlATJAbszSSssZLY6Wfsf3YxbKs14LkcHWS9axvqkCPDNK1z6HwQe-_SNuPtOf4JAlGdBZ3mbNIzruWmAG7xCuPtPsAyy_ySiIXq0rACuY0wQrizqzMzoXfp360HPxy2H-sf_Rf3kmGptfs0KeYtPFJN4uuESG7L5qGgcrOfiJ8vuvYXfVzN7qroxTfOS1yJmBlfyaHSPvYU8DmzpUwMaHCUfWSHvPYSwkUi-Hj0xVbzYWY6aQqeNOTfzFbd7Yx_TaS7CIke2ORuP6ox0aeLN40MwYmvPlOJSwZQO5i_wqGXAdyytXtYZYjfNzhxdiJdSftyis8yS_qCWKidb1xLFT7NlHCrbJROii2j6K3o1kkXAJr2g0CHejnMFlEp0g7qyihITeDW1E_xM7VMOypYKNE8UfltClnMxLvHhYP33cCGuKuxtexhH_QOEnVx1DWh6mCWTFa2bMq6xldmG_FTkmsnROSWfhJewr7q0Jtu3hzxzlzobGNUMUh5s9IGG5fplHbikOn6zHA2BrPGV8Hmn_NgYIljuSMbuSn0usE7hx8XJ6edn8FeQtMIRrN9PAQkl90w35ChLE5SbyRzHdX3WGypjAYStM-ceDkaJc5qKThYoYDba5nRZ2vt4v5h1_9qw2f1_A8wgf8pOuySfz--l6WoxGrDYTXa-rH75e89_snkWiG8jXHA=s657-no?authuser=0">


        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            Coxinha
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding">
          <ion-badge color="indigo" > 2,5G</ion-badge>
          <ion-note  class="ion-no-padding" color="dark" slot="end">R$ 4,50</ion-note>
        </ion-item>

      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>

          <img src="https://lh3.googleusercontent.com/wh7vxC1X-jYywzQfcUxYfuPi7tuOLBf0pySkd9aWcuM3HBhUkgjVy3eKHiDdH1Y_g3pbjgJ_cRp9CsLLtAIzFMHImBUUBcSF85-RGfkkczd_OwrxMVDtsWGKktvvkejBXRgWJ5Jfj3jpMoMmyN4JQJfsKKBZhUdlRAcS7Ddkb-R6VX5ogldqmJ4BuLE381UtAZIg0DIfwuo2ZxvE_eD-VFaXockSLKKPgjT1TO-G2G6fce8L8et4HHLLmJquxn_VO5bVWalDd3CcPO5s_Zq4arIdfCgp_mZtf9lnM-rT4OEnzCRfNpFBmQZxjDnEMXQBOM-WoGns8-RmNcW919qVo9vZf3gOhsOtqOhPqUyxFxVqvAwF46-0QHv-8RJYVhijcAWfu2iwelPEILf9Q6bmwNle-Cps68uquCyeLwhJ5sJvxea8idYAm0L8TxGJAmnmzKEbnkX7t8o6naOqSxZSc3FUDW-q33ohbAut_K0qBTgwRmJ-MDRf8fvXA0GTkkNWQlKgFRG2GcAyUqFlOVs53nDdRDylumiTvQz-WEob5ly5lT77K5cvRhv6dwwG6xxM2dojxmZrk2z_mufdwiORmJj64BJaxuIM33bLOp8RZZ_RdHDG66-Je8SUIUX3xR5JN2usxNsvnJOJ1quTByUK-dbrykipPRh5V_BHCu3AxTaQsW2XI2YhdIo7u1eI4pGw8S71NIsnLnr-WU-l7-Hp_JngCQ=s657-no?authuser=0">


        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            Sonho Chocolate
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding">
          <ion-badge color="indigo" > 3,5G</ion-badge>
          <ion-note  class="ion-no-padding" color="dark" slot="end">R$ 6,00</ion-note>
        </ion-item>

      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>

          <img src="https://lh3.googleusercontent.com/oO5KEoGyvCehz0RcuAqNmhL9HCgz7YAwtxi62SIqaaTgeojJw_MXJthKHulOyt13O3KdKERc72Zep07TA-VbpJelKst0vTzSAPfkTTi-5hkyfv3K8frHJB2qtJ5vTpL1Hn62BaZqvAc8OaDeM-plF9GwwMYZ7qSpGTN2sJAxBhr9zFe1cta29EI4gNPbQEGeqb0PUPTcjjymtnVWKznyf2K31bryuW4igUum1evdkTyTJcpTza0f0kn--UsVIQ13dOgYYaOw4DFPZM2InLdJ0W1ekVFyBK8ZKrGSLQSQIUImjx4dGv8gnO9h426_G9vklL_Ytoe8Tu_I3jQ3PIvubZ5_Dx7IEApZcQKORDtGhIkvMZfDkdiGR4iy3QtVw_c-vYmcLRwGFuslFtyb9hSnTVGBkAuSaqEILQ3O8E41pvE8Wi095Z2bFX6piWXDkH36Ztdf-3Kq4gEEkw-47acZLNHZmIw8HHU90lrYHBkO7RswM2phmWZdAJP28Giuoj3GRcnr31uAxSG_NsX8jRg2hzz2qqHI0-KLivBMYy_5_Pt7PjiqwV7ypvZqiyfQDvoc8HBcmBBqLMK-eA8MWnYrJYA_dD824hPrGvNoFZ3_71NWv5IqPUmHxF26N5g4jDxCeFL6CuDWnL3McRscN30W30G6FA7dKHbAhXZ7LeYnIjhcOSAd3CfiExe-3fLzTkKbwmKzAbvTgqvPShgCJvyNjRsx9g=s657-no?authuser=0">


        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            Croissant
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding">
          <ion-badge color="indigo"> 3,50G</ion-badge>
          <ion-note  class="ion-no-padding" color="dark" slot="end">R$ 5,50</ion-note>
        </ion-item>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
