<ion-header [translucent]="true">
  <ion-toolbar color="indigo">
    <ion-title>
      Cafés
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/A_small_cup_of_coffee.JPG/1200px-A_small_cup_of_coffee.JPG">
      </ion-thumbnail>
      <ion-label>
        <h3>Café</h3>
        <p>Apenas Um Cafezinho</p>
      </ion-label>
      <ion-badge slot="end" color="indigo">R$ 1,50</ion-badge>
    </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://i.pinimg.com/originals/60/56/b0/6056b0d550b8e73df089a974576d7f5c.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>Café Gelado</h3>
      <p>Um Café Geladinho</p>
    </ion-label>
    <ion-badge slot="end">R$ 2,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://s2.glbimg.com/5MiH6wuMJHyZrj6tDsSKVI0Q5XA=/smart/e.glbimg.com/og/ed/f/original/2020/08/13/receita-cappuccino-caseiro.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>Cappuccino</h3>
      <p>Pingado com canela em pó</p>
    </ion-label>
    <ion-badge slot="end" color="indigo">R$ 4,50</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://www.grupoutam.com.br/_temas/t_site/imagens/pingado.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>Pingado</h3>
      <p>Leite com Café</p>

    </ion-label>
    <ion-badge slot="end">R$ 2,00</ion-badge>
  </ion-item>


  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://images.absolutdrinks.com/drink-images/Raw/Absolut/dde5b617-048f-4af0-8c7f-0b2818407acb.jpg?imwidth=500">
    </ion-thumbnail>
    <ion-label>
      <h3>Irish Coffee</h3>
      <p>Uísque com café bem quente</p>
    </ion-label>
    <ion-badge slot="end" color="indigo">R$ 4,50</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://www.nespresso.com/ncp/res/uploads/recipes/Global_OL_ALL_Coffee%20Moment_Recipe_Chocolate%20cookie_2017_2019.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>Caffè latte</h3>
      <p>Café expresso com espuma </p>

    </ion-label>
    <ion-badge slot="end">R$ 2,00</ion-badge>
  </ion-item>
  </ion-list>
</ion-content>
